@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Quicksand:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* General font / colour styling throughout site */

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    color: #13443e;
    background-color: #e4e4e0;
}

h1, h2 {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #D2D7D3;
}

section {
    width: 80%;
    margin: 20px auto;
    background-color: inherit;
    display: flex;
    flex-direction: column;
}

body > header , body > footer {
    background-color: #20726B;
}

/* logo and logo-heading styling */
#logo-heading {
    float: left;
    font-size: 250%;
    margin-left: 20px;
    color: #D2D7D3;
    height: 70px;
}

/* header navigation */
#header-menu {
    font-size: 110%;
    letter-spacing: 2px;
    color: #D2D7D3;
    height: 70px;
}

#header-menu,
#logo-heading {
    line-height: 75px;
}

#header-menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#header-menu a {
    text-decoration: none;
    color: inherit;
}

#header-menu a:hover {
    border-bottom: 1px solid #e4e4e0;
}

.active {
    border-bottom: 1px solid #e4e4e0;
}

/* newsletter footer */
#newsletter {
    color: #D2D7D3;
    height: auto;
    width: 100%;
    text-align: center;
    display: block;
}

#newsletter>h2 {
    line-height: 20px;
    color: inherit;
    padding-top: 10px;
}

#newsletter-email,
#newsletter-name {
    margin-left: 10px;
    margin-right: 50px;
    border: 1px solid #13443e;
    padding-left: 40px;
}

#newsletter-submit {
    padding: 6px;
    border: 2px outset #13443e;
    border-radius: 10px;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 100%;
}

#newsletter>a,
#newsletter>p {
    font-size: 75%;
    font-style: italic;
}

#newsletter a {
    color: inherit;
}

#inline {
    display: none;
}

/* social media footer */
#socials {
    color: #D2D7D3;
    height: 80px;
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
    display: block;
}

#socials>li {
    display: inline;
}

#socials i {
    font-size: 160%;
    margin: 5%;
    color: #D2D7D3;
}

/* homepage */
#top-image {
    height: 250px;
    width: 95%;
    margin: 0 auto;
    background: url('../images/top-img.jpg') #e4e4e0 top center / 100% auto no-repeat;
    opacity: 90%;
}

.home-page {
    width: 80%;
    background: #F4D1AF;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
}

.home-page h2,
.home-page p {
    color: #13443e;
}

.home-divider {
    font-size: 6em;
    margin: 0 auto;
}

/*blog library */
.blog-post {
    background: #F4D1AF;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.blog-post h2,
.blog-post p {
    color: #13443e;
}

.blog-separator {
    text-align: center;
    font-size: 180%;
    margin-bottom: 1%;
}

#portrait {
    width: 15em;
    height: auto;
    float: right;
    margin: 10px;
}

.landscape {
    height: 15em;
    width: auto;
}

table {
    width: 90%;
    margin: 10px auto;
}

table, th, td {
    border: #13443e 2px solid;
    padding: 2px;
}

table > th {
    text-align: center;
    font-size: small;
}

/* contact us form */

#query-form {
    background: #F4D1AF;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
}

#query-form p {
    font-size: 1.5em;
    padding-bottom: 20px;
}

#query-form label {
    font-size: 1.1em;
}

#query-form input {
    margin-right: 50px;
    margin-bottom: 20px;
    border: 1px solid #13443e;
}

#query-form #query-form-name,
#query-form #query-form-email {
    padding-right: 100px;
    border: 1px solid #13443e;
}

#query-form textarea {
    font-family: 'Dosis', sans-serif;
    width: 95%;
    border: 1px solid #13443e;
}

#query-form #query-submit {
    padding: 5px;
    margin-left: 45%;
    padding: 6px;
    border: 2px outset #13443e;
    border-radius: 10px;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 100%;
}

/* newsletter and contact us form submittals */
.thanks {
    background: #F4D1AF;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
}

/* media queries */
/* for medium screen sizes 800px wide and down */
@media screen and (max-width: 800px) {

    /* header content */
    #header-menu li {
        float: none;
        line-height: 22px;
        text-align: right;
    }

    /* homepage content */
    #top-image {
        height: 150px;
    }

    .home-page {
        width: 90%;
        margin: 1% auto;
    }

    #home-content i {
        display: none
    }

    /* blog post table */
    table, th, td {
        border-width: 1px;
    }

    table th {
        font-size: 0.7em;
    }

    table td {
        font-size: 0.8em;
    }

    /* contact us page */
    #query-form {
        margin: 0;
    }
}

/* for medium screen sizes 550px wide and down */
@media screen and (max-width: 550px) {

    /* header */
    #logo-heading {
        font-size: 150%;
    }

    #header-menu {
        margin-left: 30px;
        margin-bottom: 1%;
        line-height: 25px;
    }

    #header-menu li {
        margin-right: 10px;
    }

    /* footer */
    #inline {
        display: inline;
    }

    /* table */
    .comment {
        display: none;
    }

    /* blog post image */
    #portrait {
        width: 10em;
        float: none;
        margin: 10px auto;
    }

    /* contact us page */
    #query-form label {
        font-size: 1em;
        line-height: 1.5
    }

    #query-form input {
        margin-right: 5px;
        margin-bottom: 5px
    }
}